html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.track {
  background: #eee;
  position: relative;
}

.track button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: solid 4px white;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 20px;
  font-size: 20px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.track button:disabled {
  opacity: 0;
  pointer-events: none;
}

.track button svg {
  fill: currentColor;
  height: 50%;
  margin-right: 2px;
}

.track button:last-child {
  left: auto;
  right: 20px;
}

.track button:last-child svg {
  transform: rotate(180deg);
  margin-left: 5px;
}

.item {
  width: 250px;
  height: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.item-1,
.item-6 {
  background: #ff8360ff;
}

.item-2,
.item-7 {
  background: #e8e288ff;
}

.item-3,
.item-8 {
  background: #7dce82ff;
}

.item-4,
.item-9 {
  background: #3cdbd3ff;
}

.item-5,
.item-10 {
  background: #00bbff;
}

.track.s1 .fluid-swiper-inner {
  padding: 60px 0;
}

.track.s1 .item {
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-out;
}

.track.s1 .fluid-swiper-item.active .item {
  box-shadow: 0 12px 12px -6px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.track.s2 {
  background: #e4e4e4;
}
