html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

#container {
  background: grey;
  position: relative;
  height: 50vh;
}

.navigate {
  position: absolute;
  top: 0;
  height: 100%;
  border: none;
  margin: 0;
  padding: 2rem;
  z-index: 11;
  background: transparent;
  transition: all 0.2s;
  cursor: pointer;

  &.next {
    right: 0;

    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    width: 4rem;
    height: 4rem;
    fill: rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);

    svg {
      fill: rgba(255, 255, 255, 0.8);
    }
  }
}

.slide {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  padding: 10rem;
  flex-direction: column;
  justify-content: center;
}

.slide-right {
  align-items: flex-end;

  & > * {
    text-align: right;
  }
}

.slide-center {
  align-items: center;

  > * {
    text-align: center;
  }
}

.bg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text {
  margin: 0;
  position: relative;
  max-width: 45vw;
  color: #fff;
}

.text-title {
  font-size: 7rem;
  font-weight: 100;
}

.text-subtitle {
  margin-top: 3rem;
  font-size: 3.5rem;
  font-weight: 500;
}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: lightblue;
  z-index: 10;
}

.progress-solo {
  position: relative;
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.2);

  & > div {
    background: #fff;
    height: 0.5rem;
    width: 200px;
  }
}
