html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

#container {
  background: grey;
  height: 50vh;
}

.slide {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  padding: 8rem;
  flex-direction: column;
  justify-content: center;
}

.slide-right {
  align-items: flex-end;
}

.slide-right > * {
  text-align: right;
}

.slide-2 .text-title {
  margin-top: 16rem;
}

.slide-3 {
  justify-content: flex-start;
}

.bg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text {
  margin: 0;
  position: relative;
  max-width: 45vw;
}

.text-title {
  font-size: 5rem;
  font-weight: 100;
}

.text-subtitle {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 500;
}

.text-inverted {
  color: #fff;
}
